<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="usuario" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="contraseña" />
  </mat-form-field>

  <button mat-raised-button color="primary">Iniciar sesión
    <mat-icon>login</mat-icon>
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Crear cuenta</a>
  </div>
</div>
