<div class="flex flex-column">
  <span class="text-lg mb-4">Crear cuenta</span>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="usuario" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="contraseña" />
  </mat-form-field>

  <button mat-raised-button color="primary">Crear cuenta
    <mat-icon>save</mat-icon>
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Iniciar sesión</a>
  </div>
</div>
